/* LayoutComponent.css */

.lay {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: auto;
}

.imglay {
  width: 400px;
  height: 400px;
  margin-top: 10px;
}
.p{
  width: 400px;
  text-align: center;
  margin-top: 15px;
}